{% extends "spectrum/components/spectrum_tab.jinja" %}
{% block title %}Settings{% endblock %}
{% set tab = 'index' %}
{% block content %}
    <br><br>
    <div class="card">
        <h1>{{ _("Spectrum - Connecting Specter to Electrum") }}</h1>
        <br>

        <div class="note">
            {{ _("- With Spectrum, you can connect Specter to Electrum") }}<br/>
            {{ _("- You can either connect your own Electrum Server to Specter or public ones") }}<br/>
            {{ _("- By default, Spectrum is connecting to Emzy's Electrum and it's not yet configurable ") }}<br/>
        </div>
        <br/>
    </div>
{% endblock %}

