{% extends "base.jinja" %}
{% block main %}
    <br><br>
    <div class="card">
        <h1>{{ _("Spectrum - Connecting Specter to Electrum") }}</h1>
        <br>

        <div class="note">
            Congratulations, Specter is now connected via Spectrum to an Electrum Server!<br/>
        </div>
        <br/>
    </div>
{% endblock %}
