name: Nigiri pipeline

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}
      - name: Upgrade pip
        run: |
          python3 -m pip install --upgrade pip
      - name: Install dependencies
        run: |
          pip3 install -r requirements.txt && pip3 install -r test_requirements.txt
          pip3 install -e .
      - name: Run Nigiri
        uses: vulpemventures/nigiri-github-action@v1
        with:
          use_liquid: false
      - name: Run integration tests
        run: |
          pytest tests/wallet_import_rescan.py
        